@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}
/* body */
.main {
    background: #f3e0e2;
    background-image: url(https://www.filterforge.com/filters/1155.jpg);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family:'Times New Roman', Times, serif;
	height: 100vh;
	margin: -20px 0 50px;
}
/* container */
.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

/* Sub container1 */

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
}

.log-in-container {
    left: 0;
    width: 50%;
    z-index: 1;
}

.elemts {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}


.head1 {
    font-weight: bold;
	margin: 0;
}

.social-container {
    margin: 40px 0;
}

.social{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: -20px 15px;
    border: 1px solid #0c0a0a;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

.t1{
    font-size: 15px;
}

.input1 {
    background-color: #eee;
    border: 1px solid #eee;
    border-radius:1em;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.input2 {
    background-color: #eee;
    border: 1px solid #eee;
    border-radius:1em;
    padding: 12px 15px;
    margin: 8px;
    width: 100%;
}

.btn1{
    color: black;
    font-size: 14px;
    text-decoration:solid;
    margin: 15px 0px;
}


/* .btn2{
    color: white;
    font-size: 14px;
    text-decoration:solid;
    margin: 15px 0px;
} */

.btn {
    border-radius: 20px;
    border: 1px solid #131111;
    background-color: #d6d0c6;
    font-weight: bold;
    padding: 12px 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

/* Sub container2 */

.content-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
}

.content {
    background: linear-gradient(to right, #c7bbb9, #533E85);
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
}

.content-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
}

.head2 {
    font-weight: bold;
	margin: 0;
}

.t2 {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}






